---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import { getPosts } from '../utils/sanity';

const posts = await getPosts();
---

<Layout title='Welcome to Astro.'>
  <section>x
    {
      posts.length ? (
        posts.map((post) => <Card post={post} />)
      ) : (
        <p>No posts yet.</p>
      )
    }
  </section>
</Layout>
