---
import BaseLayout from 'src/layouts/BaseLayout.astro';
import CTA from '@components/CTA.astro';
import { getCollection } from 'astro:content';
import { formatDate } from '@js/util.js';
import FeaturedPost from '@components/FeaturedPost.astro';
import '@styles/blog.less';
import { getPosts } from '../utils/sanity';
import Card from '@components/Card.astro';

const posts = await getPosts();
---

<BaseLayout
  title='Blog'
  description='Meta description for the page'
  preloadImg={import('../assets/images/cabinets2.jpg')}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <section id='int-hero'>
    <h1 id='home-h'>Blog</h1>
    <picture>
      <source
        media='(max-width: 600px)'
        srcset='src/assets/images/cabinets2-m.jpg'
      />
      <source
        media='(min-width: 601px)'
        srcset='src/assets/images/cabinets2.jpg'
      />
      <img
        aria-hidden='true'
        decoding='async'
        src='src/assets/images/cabinets2.jpg'
        alt='kitchen cabinets'
        loading='eager'
        width='2500'
        height='1667'
      />
    </picture>
  </section>

  <!-- ============================================ -->
  <!--              Main Blog Content               -->
  <!-- ============================================ -->

  <section>
    {
      posts.length ? (
        posts.map((post) => <Card post={post} />)
      ) : (
        <p>No posts yet.</p>
      )
    }
  </section>
  <CTA />
</BaseLayout>
